<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AntiCSRF</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.sendsafely.testapp.servlets.HomeServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>

  <filter>
    <display-name>CSRFFilter</display-name>
    <filter-name>CSRFFilter</filter-name>
    <filter-class>com.gdssecurity.anticsrf.CSRFFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CSRFFilter</filter-name>
    <url-pattern>/filter/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SiteWideServlet</display-name>
    <servlet-name>SiteWideServlet</servlet-name>
    <servlet-class>com.sendsafely.testapp.servlets.SiteWideServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SiteWideServlet</servlet-name>
    <url-pattern>/filter/SiteWideServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>URLSpecificServlet</display-name>
    <servlet-name>URLSpecificServlet</servlet-name>
    <servlet-class>com.sendsafely.testapp.servlets.URLSpecificServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URLSpecificServlet</servlet-name>
    <url-pattern>/filter/URLSpecificServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OneTimeUseServlet</display-name>
    <servlet-name>OneTimeUseServlet</servlet-name>
    <servlet-class>com.sendsafely.testapp.servlets.OneTimeUseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OneTimeUseServlet</servlet-name>
    <url-pattern>/filter/OneTimeUseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>com.sendsafely.testapp.servlets.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/ErrorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomSiteWideServlet</display-name>
    <servlet-name>CustomSiteWideServlet</servlet-name>
    <servlet-class>com.sendsafely.testapp.servlets.CustomSiteWideServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomSiteWideServlet</servlet-name>
    <url-pattern>/custom/CustomSiteWideServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomURLSpecificServlet</display-name>
    <servlet-name>CustomURLSpecificServlet</servlet-name>
    <servlet-class>com.sendsafely.testapp.servlets.CustomURLSpecificServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomURLSpecificServlet</servlet-name>
    <url-pattern>/custom/CustomURLSpecificServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomOneTimeUseServlet</display-name>
    <servlet-name>CustomOneTimeUseServlet</servlet-name>
    <servlet-class>com.sendsafely.testapp.servlets.CustomOneTimeUseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomOneTimeUseServlet</servlet-name>
    <url-pattern>/custom/CustomOneTimeUseServlet</url-pattern>
  </servlet-mapping>
   
  <filter>
    <display-name>CustomCSRFFilter</display-name>
    <filter-name>CustomCSRFFilter</filter-name>
    <filter-class>com.sendsafely.testapp.filters.CustomCSRFFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CustomCSRFFilter</filter-name>
    <url-pattern>/custom/*</url-pattern>
  </filter-mapping>
  
</web-app>
